<!DOCTYPE html>
<html >
    <head>
        <title>Sahanbcs</title>
    </head>
    <body>
        <div style="text-align:center;">
            <h2>Email Send</h2>

    <center>
        <div style="border: 1px solid black; width: 600px;" >
        <form action="/contact" method="post" style="max-width:600px;"  enctype="multipart/form-data" >
            <div>
                <label >Full Name :</label>
                <div>
                    <input type="text" name="fullname"  >
                </div>
            </div>
            <div>
                <label >Email  :</label>
                <div>
                    <input type="text" name="email"  >
                </div>
            </div>
            <div>
                <label >Subject :</label>
                <div>
                    <input type="text" name="Subject"  >
                </div>
            </div>
            <div>
                <label >Content :</label>
                <div>
                    <textarea name="content" required>

                    </textarea>
                </div>
            </div>
            <div>
                <label >Attachment :</label>
                <div>
                    <input type="file" name="attachement"  >
                </div>
            </div>

            <br>
            <br>
            <br>

            <div>

                <div style="text-align:center" >
                    <input type="submit" value="Send Email"   >
                </div>
            </div>


        </form>

        </div>
    </center>
        </div>

    </body>

</html>